.map {
	position: relative;
}
.grid-map {
	svg {
		g.lads {
			g.lad {
				rect {
					fill-opacity:1;//0.2;
					stroke:#bdbdbd;
					stroke-width:1;
					stroke-opacity:0;
					shape-rendering: crispEdges;
				}
				&:hover,
				&.highlight {
					rect {
						stroke:#333;
						stroke-opacity:1;
					}
				}
				line.border {
					stroke:#bdbdbd;
					stroke-width:1;
					stroke-opacity:0;
					shape-rendering: crispEdges;
				}
				text {
					@include fs-textSans(1);
					font-size: 12px;
					fill:#333;
					text-anchor:middle;
					//display: none;
					text-transform: uppercase;
				}
				&[data-region='london'] {
					line.border {
						stroke-opacity:1;
					}
				}
				&[data-region='scotland'] {
					line.border {
						stroke-opacity:1;
					}
				}
			}
			

		}
	}
}