.map {
	position: relative;
}
.grid-map {


	svg {
		g.lads {
			g.lad {
				rect {
					fill-opacity:1;//0.2;
					stroke:#767676;
					stroke-width:1;
					stroke-opacity:0;
					shape-rendering: crispEdges;
				}
				/* &:hover,
				&.highlight {
					rect {
						stroke:#333;
						stroke-opacity:1;
					}
				} */
				 
				text {
					@include fs-textSans(1);
					font-size: 12px;
					fill:#333;
					text-anchor:middle;
					//display: none;
					text-transform: uppercase;
				}
				
			}
		}
		g.borders {
			g.border {
				line {
					stroke:#bdbdbd;
					stroke-width:1;
					stroke-opacity:1;
					shape-rendering: crispEdges;
				}
				/* &[data-region='london'] {
					line {
						stroke-opacity:1;
					}
				}
				&[data-region='scotland'] {
					line {
						stroke-opacity:1;
					}
				} */
			}
		}
		g.overlay {
			rect {
				fill:none;
				stroke:#767676;
				stroke-width:1;
				stroke-opacity:1;
				shape-rendering: crispEdges;
			}
		}
		g.labels {
			g.label {
				text {
					@include fs-textSans(1);
					font-size: 12px;
					fill:#333;
					text-anchor:start;
				}
			}
		}
		g.legend {
			text {
				@include fs-textSans(1);
				//font-size: 13px;
				font-size: 11px;
				fill:#999;
				font-weight:200;
				tspan {
					font-size:13px;
				}
			}
			path.arrow {
				stroke:#999;
				stroke-width:2;
				fill:none;
				shape-rendering: crispEdges;
			}
			g.range {
				text {
					@include fs-textSans(1);
					font-size: 11px;
					color:#bdbdbd;
					text-anchor:middle;
				}
				&.first-child {
					text {
						text-anchor:start;
					}
				}
				&:last-child {
					text {
						text-anchor:end;
					}
				}
			}
		}
	}
}
