.fsa-layout {
	width:100%;
	max-width:860px;
	overflow: visible;
    display: table;
		border-top: 1px solid #eaeaea;
		padding-top: 15px;

	.map-col {
		width:100%;
	}
	.lookup-charts-col {
		width:100%;
	}

	@include mq(tablet) {
		.map-col {
			float:right;
			width:65%;
		}
		.lookup-charts-col {
			float:left;
			width:35%;
		}
	}

	.note {
		  @include fs-textSans(1);
		  color:#bdbdbd;
		  margin-bottom:15px;
		  display: block;
		  &:hidden {
		  	visibility: hidden;
		  }
	}

}
