.js-location {
    display: table;
    width: 100%;
}
//from https://github.com/guardian/interactive-house-prices/blob/master/app/src/css/_madlib.scss
.hp-madlib {
    border: 1px solid #eaeaea;//#bdbdbd;
    border-radius: 100px;
    background: white;

    @include f-headline;
}

.hp-madlib__input {
    overflow: visible;
    width:calc(100% - 36px);
}

.hp-madlib__input__text {
    background: none;
    width: 100%;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 4px 10px 3px;
}

.hp-madlib__input__btn {
    float: right;
    border: 0;
    border-radius: 100px;
    outline: 0;
    padding: 0;
    font-size: 0;
    margin: 4px 5px 0 4px;

    transition: 0.1s color ease-out, 0.1s background ease-out;
    color: #333;
    background: #eaeaea;//#dcdcdc;
    &:hover {
        background: #dcdcdc;//#bdbdbd;
    }

    visibility: visible;

    .icon-submit {
        display: none;
    }

    &[data-focus] {
        color: white;
        background: #005689;
        &:hover {
            background: #00456E
        }
        .icon-submit {
            display: block;
        }
        .icon-clear {
            display: none;
        }
    }
}

.hp-madlib__note {
    @include fs-textSans(2);
    color: #bdbdbd;
    width: 80px;
    float: right;
    text-align: right;
    margin: 9px 0 0 0;
}

.hp-madlib-options {
    @include fs-textSans(1);
    line-height: 18px;
    color: #767676;
    &::before {
        content: "Or try: ";
        margin-right: 6px;
    }
}

.hp-button {
    @include fs-textSans(1);
    line-height: 19px;
    font-weight: bold;
    border-radius: 100px;
    background: 0;
    border: 0;
    outline: 0;
    margin-right: 6px;

    transition: 0.1s background-color ease-out;

    color: #333;
    background-color: #eaeaea;//#dcdcdc;
    &:hover {
        background-color: #dcdcdc;//#bdbdbd;
    }

    &[data-selected] {
        color: white;
        background-color: #005689;
        &:hover {
            background-color: #00456e;
        }
    }
}

.hp-location {
    position: relative;
    height: 35px;
    border-bottom: 1px dotted rgba(255,255,255,0.8);
}
.hp-location__label {
    font-size: 14px;
    display: inline-block;
    width: calc(40% - 2px);
    margin-top: 3px;
}
.hp-location__form {
    font-size: 20px;
    float: left;
    width: 100%;
    //margin-top: -3px;
    padding-left: 6px;
    box-sizing: border-box;

    .hp-madlib__input__text {
        text-transform: uppercase;
        padding-left: 4px;
    }
    .hp-madlib__input__btn {
        margin: 3px;
    }
}

.hp-location__form__gps {
    float: left;
    border: 0;
    border-radius: 100px;
    outline: 0;
    padding: 0;
    font-size: 0;
    margin: 3px 3px 3px -3px;

    display: none;

    transition: 0.1s background ease-out;
    color: #333;
    background: #eaeaea;//#dcdcdc;
    &:hover {
        background: #dcdcdc;//#bdbdbd;
    }

    &.is-loading {
        -webkit-animation: hp-loading 0.5s infinite;
        animation: hp-loading 0.5s infinite;
    }

    &.has-error {
        -webkit-animation: hp-error 0.5s 1;
        animation: hp-error 0.5s 1;
    }
}