@import "fonts";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
}

// map
.map-gb {
    path {
        stroke: #fff;
        stroke-linejoin: round;
        stroke-width: 0.2px;
    }
    path:hover {
        stroke:#333;
        stroke-width: 0.5px;
        transition: stroke .25s ease;
        cursor: pointer;
        z-index: 999;
    }

    text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        text-anchor: middle;
        pointer-events: none;
    }
}


// btn
.btns {
    position: absolute;
    top: 15px; //temp
}
.btn {
    color: #005689;
    background: #eaeaea;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

// summary
.summary {
    position: relative;//absolute;
    top: 45px;
    width: 100%;
    max-width: 480px;
    span {
    //fs-data(*)
    }
}

/* atomic css*/
.d-n { display: none; }
.v-v { visibility: visible; }
.v-h { visibility: hidden; }

@import "failingrate-chart";
@import "square-map";
@import "grid";
@import "tooltip";