@import "fonts";
@import "mq";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {

}

// summary
.summary {
    position: relative;//absolute;
    margin-top: 10px;
    margin-bottom:0px;
    width: 100%;
    //max-width: 480px;
    span {
    //fs-data(*)
    }
}

.lookup-s {
  @include fs-textSans(4);
  font-size:20px;
  color:#333;
  font-weight:600;
  padding-bottom:4px;

}
.lookup-result {

    height: 0;
    overflow: hidden;
    &.visible {
        height: auto;
    }

    @include mq(tablet) {
        height: auto;
        visibility: hidden;
        &.visible {
            visibility: visible;
        }
    }

    h3 {
        margin:0;
        padding:0;
        @include fs-textSans(3);
        margin-bottom:10px;
    }
}
.link-to-fsa {
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
    a {
        color:#005689;
        @include fs-textSans(1);
        line-height: 14px;
        margin-bottom: 15px;
    }
}
/* atomic css*/
.d-n { display: none; }
.v-v { visibility: visible; }
.v-h { visibility: hidden; }
@import "layout";
@import "summary";
@import "awesomplete";
@import "madlib";
@import "failingrate-chart-vertical";
//@import "square-map";
@import "grid";
@import "tooltip";
