@import "fonts";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
}

path {
    //fill: #dcdcdc;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 0.2px;
}
path:hover {
    //fill: #333;
    stroke:#333;
    stroke-width: 0.5px;
    transition: stroke .25s ease;
    cursor: pointer;
    z-index: 999;
}

text {
    //fill: transparent;
    //fill: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-anchor: middle;
    pointer-events: none;
}
